body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	position: relative;	
    background-attachment: fixed;
    -webkit-overflow-scrolling: touch;	
}

/*.container {
	width: 85%;
	margin: 0 auto;
}
*/
#page-1 {	
	height: 100vh;
	z-index: 7;
	background: url(../img/fonpage1.png);
	background-repeat:no-repeat;
	background-position:center 0px;
}
#page-2 {	
	height: 100%;
	z-index: 6;
	background: url(../img/Mirimus_02.jpg);
	background-repeat:no-repeat;
	background-position:center 0px;
}

#page-3 {
	height: 100vh;
	z-index: 5;
	background: url(../img/Mirimus_03.jpg);
	background-repeat:no-repeat;
	background-position:center 0px;
}
#page-4 {
	height: 100vh;
	z-index: 4;
	background: url(../img/Mirimus_04.jpg);
	background-repeat:no-repeat;
	background-position:center 0px;
}
#page-5 {
	height: 100vh;
	z-index: 4;
	background: url(../img/Mirimus_05.jpg);
	background-repeat:no-repeat;
	background-position:center 0px;
}
#page-6 {
	height: 100vh;
	z-index: 3;
	background: #f2f2f2;
	background-repeat:no-repeat;
	background-position:center 0px;
}
.page {
	height: 100%;
	width: 100%;
	box-shadow: 0 55px 75px rgba(0,0,0,.3);
	position: relative;
	overflow: hidden;
}


.wrap {
	z-index: 1;
	position: relative;
	top: 0;
}
@media screen and (max-width: 1367px) {
	#page-1, #page-2, #page-3, #page-4, #page-5, #page-6 {	
	height: 100%;
	}
}
@media screen and (max-width: 767px) {
	#page-1, #page-2, #page-3, #page-4, #page-5, #page-6 {	
	height: 100%;
	}
}

.sp-fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.ex {
	color: #000;
	background: rgba(255,255,255,.5);
	margin: 0;
	width: 100%;
	position: fixed;
	z-index: -2;
}